<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
			<section name="DefaultFlight" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<DefaultFlight>
		<add key="FlightNumber" value="UL000000"/>
		<add key="NoofSeatofFlight" value="230"/>
		<add key="FlightSeatType" value="2,3,2-Type3"/>
		<add key="NoOfBusinessClassRows" value="4"/>
		<add key="NoOfPremiumClassRows" value="3"/>
		<add key="NoofPassengers" value="0"/>
		<add key="OriginPort" value="SP002"/>
		<add key="DestinationPort" value="F0070"/>
		<add key="DepartureDate" value="2023-10-12"/>
		<add key="ArrivalDate" value="2023-10-12"/>
	</DefaultFlight>
	
</configuration>